form {
  margin-left: 25%;
}

select {
  width: 120px;
}

.form-control {
  resize: none;
}

li {
  list-style: none
}

.form-control {
  width: 50%;
}

.pDado {
  height: 0;
}

.dadosCurriculo {
  border: solid 1px black;
  padding: 10px 0;
}