* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

.flex-container {
  display: flex;
}

header {
  background-color: #323433;
  color: #E8F7F2;
  justify-content: space-around;
}

.firstSection {
  justify-content: center;  
}